body{
    background-color: rgb(43, 42, 42) !important;
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    grid-template-areas: "h h" "m a" ;
}
header{
    grid-area: h;
    display: flex;
    width: 100%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: blueviolet;
}
.titulo,h3{
    color: aliceblue;
}
hr{
    color: black;
}
aside{
    grid-area:a ;
    width: 100%;
    margin-top: 20px;
    border-left-width: 2px;
    border-left-color:blueviolet ;
    border-left-style: solid;
    padding: 15px;

}
main{
    grid-area: m;
    flex: 1;
    margin-right: 20px;
    margin-top: 20px;
    display: inline-block;
}
footer{
    grid-area: f;
}
#btnadd{
    background-color: transparent;
    color: aliceblue;
    border-color: transparent;
    margin-left: auto;
}
/*--------------- modal -------------- */
.modal-corpo{
    display: inline-block;
    padding: 10px;
}
#nomeart{
    width: 100%;
    margin-top: 6px;
}
#nomealb{
    width: 100%;
    margin-top: 6px;
}

#estilo{
    margin-top: 6px;
}
#tipo{
    margin-top: 6px;
}
#data{
    margin-top: 6px;
}
.boxart{
    margin-top: 10px;

}
.boxalbm{
    margin-top: 20px;
}
.boxdata{
    margin-top: 20px;
}
.boxestilo{
    margin-top: 20px;
}
.boxspr{
    margin-top: 20px;
    margin-bottom: 10px;
}
.url-album{
    margin-top: 20px;

}
/* ------------------- main ------------------ */
.card-img-top{
    width: 200px;
    height: 200px;
}
.card-body{
    text-align: center;
}

/* ----------------- ASIDE CONTEUDO ------------ */
.filtro_suportes,h3{
    color: aliceblue;
}
.filtros_genero,h3{
    color: aliceblue;
}
#genero{
    /* text-align: center; */
    border-bottom-width: 2px;
    border-bottom-color: blueviolet;
    border-bottom-style: solid;
}
#inpflt{
    display: inline-block;
}
.filtros{
    margin-top: 30px;
}
.filtros-suporte{
    margin-top:20px;
}
#suportes{
    border-bottom-width: 2px;
    border-bottom-color: blueviolet;
    border-bottom-style: solid;
}
.filtro_suportes{
    margin-top: 30px;
}
